@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "ClashDisplay", sans-serif;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../../public/fonts/ClashDisplay-Semibold.otf") format('truetype');;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "ClashDisplay";
  src: url("../../public/fonts/ClashDisplay-Regular.otf") format('truetype');;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}